body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.time {
    height: 4rem;
    width: 9.6rem;
    background-color: aqua;
    border-radius: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}